


<div class="row">
    <div class="col-md-8 col-md-offset-3 well">
        <h2>SignUp</h2>
        <form method="post" action="/account/signup">
            <input type="text" class="form-control" name="username" placeholder="Username" />
            <br />
            <input type="password" class="form-control" name="password" placeholder="Password" />
            <br />
            <button class="btn btn-warning">Sign Up</button>
        </form>
    </div>
</div>

