@using MyMaaser.data
@model IEnumerable<MaaserGiven>
@{
    ViewData["Title"] = "ViewMaaserGiven";
}
<div class="row">
    <div class="col-md-5 col-md-offset-3 well">
        <div class="col-md-4 col-md-offset-1">
            <button class="btn btn-success" data-target="#give-maaser-modal" data-toggle="modal">Give Maaser</button>
            <span>@(Model.Sum(mg => mg.Amount))</span>
        </div>
    </div>
</div>
<div class="container">
    <table id="mg-table" class="table table-bordered table-striped">
        <tr>
            <th>Amount</th>
            <th>To Where</th>
            <th>Date</th>
        </tr>
        @foreach (MaaserGiven mg in Model)
        {
            <tr>
                <td>@mg.Amount.ToString("C")</td>
                <td>@mg.ToWhere</td>
                <td>@mg.Date.ToShortDateString()</td>
            </tr>
        }
    </table>
</div>

<div id="give-maaser-modal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Modal Header</h4>
            </div>
            <div class="modal-body">
                <p>
                    <input type="text" class="form-control" id="mg-amount" placeholder="Amount" />
                    <br />
                    <input type="text" class="form-control" id="mg-toWhere" placeholder="To Where" />
                    <br />
                    <input type="date" id="mg-date" />
                    <br /><br />
                </p>
            </div>
            <div class="modal-footer">
                <button class="btn btn-info" id="btn-givemaaser-modal">Add Give</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

@section scripts{ 
<script src="~/js/maaserGiven.js"></script>
}